# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# PyInstaller
build/
*.spec

# Qt / PySide6
*.qmlc
*.jsc

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
